*{
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #22272e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container{
    max-width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
}

.logo{
    max-width: 200px;
    
}

.title{
    font-size: 30px;
    color: aquamarine;
    margin: 24px 0;
}

.form label{
    color: aquamarine;
    font-size: 20px;

}

.input{
    width: 100%;
    height: 38px;
    border-radius: 4px; 
    font-size: 16px;
    padding: 0 14px;
    margin-top: 5px;
    margin-bottom: 15px;

}

.button{
    width: 100%;
    height: 38px;
    background-color: aquamarine;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;

}

.result{
    background-color: rgb(62, 209, 62);
    color: white;
    max-width: 620px;
    padding: 10px 15px;
    text-align: center;
    margin-top: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid #696969;
    transition: transform 0.8s;
}

.result1{
    background-color: rgb(233, 50, 50);
    max-width: 620px;
    padding: 10px 15px;
    text-align: center;
    margin-top: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid #696969;
    transition: transform 0.8s;
}

.hide{
    display: none;
}

.result:hover{
    transform: scale(1.2);
}

.result1:hover{
    transform: scale(1.2);
}

.result span{
    margin-bottom: 8px;

}

#text-result{
    font-size: 24px;
    font-weight: bold;
}

.info{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.info-img{
    width: 38px;
    height: 38px;
}

.tooltip{
    background-color: aquamarine;
    padding: 10px 8px;
    border-radius: 4px;
    position: relative;
    bottom: 18px;
    display: none;

}

.info:hover .tooltip{
    display: inline;
}

.sobre{
    max-width: 730px;
    background-color: #242424;
    padding: 24px 14px;
    border: 1px solid #696969;
    border-radius: 4px;
    color: aquamarine;
    font-size: 20px;
}

.sobre p{
    color: #fff;
    margin-bottom: 8px;
    line-height: 150%;
}

.button-calcular{
    background-color: aquamarine;
    height: 48px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 4px;

}